<h1>Pages#home</h1>
<p><%= @product.title %>
  <%= @product.subtitle %>
  <%= raw @product.description %>


  </p>

<%= form_tag charges_path do %>
 <article>
   <label class="amount">
     <span>Amount: <%= @product.price %></span>
   </label>
</article>

 <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
   data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
   data-description="A month's subscription"
   data-amount=<%= @product.price%>></script>
    <%= hidden_field_tag 'stripeToken' %>
    <%= hidden_field_tag 'stripeEmail' %>  
    <%= hidden_field_tag 'amount', @product.price %>
    <script>
    var handler = StripeCheckout.configure({
      key: '<%= Rails.configuration.stripe[:publishable_key] %>',
      token: function(token, arg) {
        document.getElementById("stripeToken").value = token.id;
        document.getElementById("stripeEmail").value = token.email;
        document.getElementById("chargeForm").submit();
      }
    });
     document.getElementById('btn-buy').addEventListener('click', function(e) {
      handler.open({
        name: 'One Month',
        description: 'Growth Hacking Crash Course ($4.99)',
        amount: document.getElementById("amount").value 
      });
    e.preventDefault();
   })
  </script>
<% end %>


